.imageModal {
    height: 90px;
    width: 60%;
}

.cardModal,
.nameModal,
.priceModal,
.detailModal {
    text-align: center;
}

.detailModal {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    color:#480202;
}

.cardModal {
    margin: 15px 0;
}

.nameModal {
    font-family: 'Mali', cursive;
    font-size: 18px;
    padding-top: 15px;
}

.priceModal {
    font-family: 'Farsan';
    font-size: 22px;
    padding-bottom: 15px;
}

.pModal {
    font-family: 'Maven Pro', sans-serif;
    font-size: 20px;
    text-align: center;
    color:#77774b;
}

.colModal{
    padding: 0;
}

.clearModal{
    padding: 0 0 0 30px;
}

.modalIcon {
    color: red;
    background-color: white;
    border-color: white;
    font-size: 2rem;
    padding: 0 ;
    transition: all 1s ease;
}

.modalIcon:hover{
    transform: scale(1);
    background-color: white;
    border-color: red;
    padding: 0 13px;
    color:red;
}

.rowModal{
    margin:0;
    align-items: center;
}