.divDetail {
    background-image: url('../photo/coconut.png');
    width: 100%;
    background-size: cover;
    background-repeat: round;
    height: 100%;
    min-height: 95vh;
    padding-bottom: 30px;
}

.rowDetail {
    align-items: center;
    justify-content: center;
    margin: 0;
    
}

.pDetails,
.aDetail {
    font-family: 'Maven Pro', sans-serif;
    font-size: 20px;
    color: #50250c
}


.aDetail {
    border-bottom: #b86332 1px solid;
    font-size: 15px;
}

.positionLink {
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 100;
    padding-right: 10px;
    
}

.imageDetail {
    width: 90%;
}


.h2Detail {
    color: #a38348;
    font-size: 100px;
    padding: 50px 0 100px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

#container-charge {
    min-height: 100vh;
    background-color: rgba(250, 240, 245, 09);
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 10000;
}

#charge {
    border: 15px solid #ccc;
    border-top-color: #bb3547;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    -webkit-animation: turn 1.5s linear infinite;
    -o-animation: turn 1.5s linear infinite;
    animation: turn 1.5s linear infinite;
}

@keyframes turn {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}