
.butterCont {
    background-image: url('../../photo/wood.png');
    width: 100%;
    background-size: cover;
    background-repeat: round;
    padding: 50px;
}

.aButterCard {
    border: 20px;
    color: pink
}

.h2Butter {
    font-size: 100px;
    padding: 50px 0 100px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: #a4ad90
}
